.slick-next:before {
  color: black !important;
  opacity: 0.7 !important;
  font-size: 2rem !important;
}
.slick-prev:before {
  color: black !important;
  opacity: 0.7 !important;
  font-size: 2rem !important;
}
.slick-prev {
  left: -40px !important;
}

.slick-track{
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .slick-arrow  {
    display: none !important;
  }
}