@font-face {
  font-family: 'Myriad Pro', sans-serif;
  src: url("/fonts/Myriad Pro Bold SemiExtended.ttf?683500a9e2ccb1ee949ebe43c1a40172")
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

